{
  "pid": "bw.application.HelloWorld_1.0",
  "properties": {
    "\/\/HelloWorld.module\/\/BW.HOST.NAME1": {
      "name": "\/\/HelloWorld.module\/\/BW.HOST.NAME1",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/httpConnectorResourceProperty": {
      "name": "\/\/HelloWorld.module\/\/httpConnectorResourceProperty",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/httpConnectorResourceProperty": {
      "name": ".type.\/\/HelloWorld.module\/\/httpConnectorResourceProperty",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "HelloWorld",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/HelloWorld.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.DOMAIN.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "HelloWorld",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/HelloWorld.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.MODULE.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.APPSPACE.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.HOST.NAME1": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.HOST.NAME1",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.HelloWorld_1.0",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.HOST.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/HelloWorld.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/HelloWorld.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/HelloWorld.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}